{% extends 'info/base.html'%}


{% block active %} active {% endblock %}


{% block url  %} {% url 'PersonalInfo' %}  {% endblock %}
{% block url1 %} {% url 'PersonalInfo1' %} {% endblock %}
{% block url2 %} {% url 'PersonalInfo2' %} {% endblock %}
{% block url3 %} {% url 'PersonalInfo3' %} {% endblock %}
{% block url4 %} {% url 'PersonalInfo4' %} {% endblock %}
{% block url5 %} {% url 'PersonalInfo5' %} {% endblock %}
{% block url6 %} {% url 'PersonalInfo6' %} {% endblock %}


{% block in %} in {% endblock %}
